{% extends "base.html" %} {# Номер лабораторной #} {% block lab %}Лабораторная
работа 4 {% endblock %} {# Основной контент: #} {% block main %}
<h1>Формы, (POST)</h1>
<h2>Тема лабораторной – Формы (POST).</h2>
<div>
    <h3>Список сделанных страниц:</h3>
    <ol>
        <li><a href="/lab4/add-form">Сложение</a></li>
        <li><a href="/lab4/sub-form">Вычитание</a></li>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/mul-form">Умножение</a></li>
        <li><a href="/lab4/pow-form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Посадка деревьев</a></li>
        <li><a href="/lab4/login">Авторизация</a></li>
        <li><a href="/lab4/fridge">Холодильник</a></li>
        <li><a href="/lab4/grain-order">Заказ зерна</a></li>
    </ol>
</div>
{% endblock %}
