{% extends "base.html" %} {% block lab %} Посадка деревьев {% endblock %} {%
block main %}
<body>
    <h1>Количество деревьев: {{ tree_count }}</h1>
    <form method="POST">
        <button name="operation" value="plant" {% if tree_count >= 13 %}disabled{% endif %}>Посадить дерево</button>
        <button name="operation" value="cut" {% if tree_count <= 0 %}disabled{% endif %}>Срубить дерево</button>
    </form>
    <div>
        {% for _ in range(tree_count) %}
            <img src="{{ url_for('static', filename='lab4/tree_small.png') }}" alt="Tree" style="width: 10%;">
        {% endfor %}
    </div>
</body>

{% endblock %}
