{% extends "base.html" %} {% block lab %} Лабораторная работа 3 {% endblock %}
{% block main %} {% if user %}
<div>
    <h1>Привет, {{ user }}!</h1>
    <h2>Ваш возраст: {{ age }}</h2>
    <h2>Ваш пол: {{ 'мужской' if sex == 'male' else 'женский' }}</h2>
    <h2>Добро пожаловать на сайт. Давно не виделись</h2>
</div>

<div>
    <a href="/lab3/form1?clear=true">Заново</a>
</div>

{% else %}

<h1>Пользователь</h1>
<form method="get">
    <div>
        <label><b>Ваше имя:</b></label>
    </div>
    <div>
        <input
            type="text"
            placeholder="Как вас зовут?"
            name="user"
            value="{{ user or '' }}"
        />
        <span class="error">{{ errors.user }}</span>
    </div>
    <div>
        <label><b>Ваш возраст:</b></label>
    </div>
    <div>
        <input
            type="number"
            placeholder="Сколько вам лет?"
            name="age"
            value="{{ age or '' }}"
        />
        <span class="error">{{ errors.age }}</span>
    </div>
    <div>
        <label><b>Ваш пол:</b></label>
    </div>
    <div>
        <select name="sex">
            <option value="male" {{ sex == 'male' and 'selected' }}>Мужской</option>
            <option value="female" {{ sex == 'female' and 'selected' }}>Женский</option>
        </select>
        <span class="error">{{ errors.sex }}</span>
    </div>
    <div><button type="submit">Отправить данные</button></div>
</form>
{% endif %} {% endblock %}
