{% extends "base.html" %} {# Номер лабораторной #} {% block lab %}Лабораторная
работа 3 {% endblock %} {# Основной контент: #} {% block main %}
<body>
    <h1
        style="
            text-align: center;
            font-family: Arial, sans-serif;
            color: rgb(88, 98, 84);
        "
    >
        Билет
    </h1>
    <div
        style="
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        "
    >
        <p style="font-weight: bold">
            ФИО пассажира: <span style="font-weight: normal">{{ fio }}</span>
        </p>
        <p style="font-weight: bold">
            Полка: <span style="font-weight: normal">{{ berth }}</span>
        </p>
        <p style="font-weight: bold">
            С бельём:
            <span style="font-weight: normal"
                >{{ 'Да' if linen else 'Нет' }}</span
            >
        </p>
        <p style="font-weight: bold">
            С багажом:
            <span style="font-weight: normal"
                >{{ 'Да' if baggage else 'Нет' }}</span
            >
        </p>
        <p style="font-weight: bold">
            Возраст: <span style="font-weight: normal">{{ age }}</span>
        </p>
        <p style="font-weight: bold">
            Пункт выезда:
            <span style="font-weight: normal">{{ departure }}</span>
        </p>
        <p style="font-weight: bold">
            Пункт назначения:
            <span style="font-weight: normal">{{ destination }}</span>
        </p>
        <p style="font-weight: bold">
            Дата поездки: <span style="font-weight: normal">{{ date }}</span>
        </p>
        <p style="font-weight: bold">
            Нужна ли страховка:
            <span style="font-weight: normal"
                >{{ 'Да' if insurance else 'Нет' }}</span
            >
        </p>
        <h2 style="text-align: center; color: rgb(88, 98, 84)">
            Стоимость билета: {{ price }} руб.
        </h2>
    </div>
</body>
{% endblock %}
