{% extends "base.html" %} {% block lab %} {% if article %} Редактирование статьи
{% else %} Создание статьи {% endif %} {% endblock %} {% block main %}
<div class="article-creation">
    <form method="post">
        <h1>
            {% if article %}Редактирование статьи{% else %}Создание статьи{%
            endif %}
        </h1>
        {% if error %}
        <div class="alert alert-danger" role="alert" style="color: red">
            {{ error }}
        </div>
        {% endif %}
        <div class="form-group">
            <h2><label for="title">Заголовок:</label></h2>
            <input
                type="text"
                id="title"
                name="title"
                class="form-control"
                style="width: 400px"
                value="{{ article.title if article else '' }}"
            />
        </div>
        <div class="form-group">
            <h2><label for="content">Содержание:</label></h2>
            <textarea
                id="article_text"
                name="article_text"
                class="form-control"
                rows="10"
                style="width: 700px"
            >
{{ article.article_text if article else '' }}</textarea
            >
        </div>
        <button type="submit" class="btn btn-primary">
            {% if article %}Сохранить{% else %}Создать{% endif %}
        </button>
    </form>
</div>
{% endblock %}
