{% extends "base.html" %} {% block lab %} Лабораторная работа 5 {% endblock %}
{% block main %}
<h1>Поздравляем с успешной регистрацией, {{ login }}!</h1>
<h2>Теперь вы можете перейти к авторизации:</h2>
<br />
<a
    href="/lab5/login"
    style="
        background-color: rgb(88, 98, 84);
        color: rgb(251, 249, 246);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        margin-top: 20px;
    "
    >Перейти к авторизации</a
>
{% endblock %}
