{% extends "base.html" %} {% block lab %} Лабораторная работа 5 {% endblock %}
{% block main %}
<h1>Поздравляем с успешной регистрацией!</h1>
<h2>Теперь вы можете перейти к пользованию нашей базой данных.</h2>
<a
    href="/lab5"
    style="
        background-color: rgb(88, 98, 84);
        color: rgb(251, 249, 246);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    "
    >Перейти к базе данных</a
>
{% endblock %}
