<!doctype html>
<html>
    <head>
        <title>{{ name }}. Лабораторная работа {{ lab_number }}</title>
        <link rel="stylesheet" type="text/css" href="../static/lab1.css" />
    </head>
    <body>
        <header>
            WEB-программирование, часть 2. Лабораторная работа {{ lab_number }}
        </header>

        <main>Основной контент</main>

        <footer>
            &copy; {{ name }}, {{ student_group }}, {{ student_course }} курс,
            2024
        </footer>
    </body>
</html>
