{% extends "base.html" %} {# Номер лабораторной #} {% block lab %}Лабораторная
работа 2{% endblock %} {# Основной контент: #} {% block main %}
<h1>Шаблоны</h1>
<div>Тема лабораторной – шаблоны. Список созданных страниц:</div>
<ol>
    <li><a href="/lab2/a">/lab2/a</a></li>
    <li><a href="/lab2/a/">/lab2/a/</a></li>
    <li><a href="/lab2/all_flowers/">/lab2/all_flowers/</a></li>
    <li><a href="/lab2/clear_flowers/">/lab2/clear_flowers/</a></li>
    <li><a href="/lab2/example/">/lab2/example/</a></li>
    <li><a href="/lab2/filters/">/lab2/filters/</a></li>
    <li><a href="/lab2/calc/">/lab2/calc/</a></li>
    <li><a href="/lab2/books/">/lab2/books/</a></li>
    <li><a href="/lab2/mushrooms/">/lab2/mushrooms/</a></li>
</ol>
{% endblock %}
